@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

:root{
    --header-text-color: #f0efef;
    --header-color: #363636;
    --header-hover-color: #454545;
    --header-ui-color: invert(85%);
    --base-color: #f0efef;
    --text-color: #363636;
    --logo-color: invert(23%);
    --bg-img: url(https://raw.githubusercontent.com/haha794uguisu/haha794uguisu.github.io/refs/heads/main/img/paper.png);
}
.darkmode{
    --header-text-color: #939393;
    --header-color: #363636;
    --header-hover-color: #454545;
    --header-ui-color: invert(50%);
    --base-color: #363636;
    --text-color: #c1c1c1;
    --logo-color: invert(65%);
    --bg-img: url(https://raw.githubusercontent.com/haha794uguisu/haha794uguisu.github.io/refs/heads/main/img/paper-dark-mode.png);
}

body{
    width: 100%;
    margin: 0px auto;
    background-image: var(--bg-img);
}

header{
    height: 50px;
    float: left;
    width: 100%;
    display: flex;
}

.title{
    color: var(--header-text-color);
    line-height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-weight: auto;
    font-style: normal;
    background-color: var(--header-color);
}

header a{
    text-decoration: none;
    color: var(--header-text-color);
    line-height: 0px;
    text-align: center;
    width: 15%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
    font-weight: auto;
    font-style: normal;
    background-color: var(--header-color);
    transition: all 0.5s 0s ease;
}
header a:hover{
    background-color: var(--header-hover-color);
    line-height: 1.5px;
}
header a p{
    margin-top: 18px;
}
header a img{
    margin-top: -10px;
    filter: var(--header-ui-color)
}

#bold{
    padding-top: 7px;
    font-weight: bold;
}

.space{
    width: 25%;
    background-color: var(--header-color);
}

.night-light{
    height: 50px;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
}

.night-light button{
    height: 100%;
    border-radius: 0;
    cursor: pointer;
    border: none;
    line-height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--header-text-color);
    background-color:var(--header-color);
    transition: all 0.2s 0s ease;
}

.night-light button img{
    filter: var(--header-ui-color);
}

#theme-switch img:last-child{
    display: none;
}
.darkmode #theme-switch img:first-child{
    display: none;
}
.darkmode #theme-switch img:last-child{
    display: block;
}

.space-two{
    width: 8%;
    background-color: var(--header-color);
}

.content{
    margin: 0px auto;
    padding-top: 125px;
    width: 800px;
}

.one{
    display: flex;
}

.two{
    height: fit-content;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three{
    margin-left: 10%;
}

#logo{
    filter: var(--logo-color);
    width: 80%;
    padding-bottom: 10px;
}

.three button{
    cursor: pointer;
    line-height: 0;
    margin: 0;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38.5%;
    margin: 0% 0.75%;
    padding: 3px 0px;
    border: 2px solid var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
    font-weight: bolder;
    font-style: normal;
    background-color: var(--text-color)00;
    color: var(--text-color);
    transition: all 0.5s 0s ease;
}
.three button:hover{
    background-color: var(--text-color);
    color: var(--base-color);
}
.three button i{
    padding: 0px 2px;
}
.three button p{
    padding: 0px 2px;
}

.four{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bird img{
    width: 53%;
}

@media screen and (max-width: 800px) {
    .title{
        font-size: 2vw;
    }
    
    header a{
        font-size: 1.7vw;
    }
    
    .content{
      width: 100%;
    }
    
    button{
        font-size: 2vw;
    }
  }
